@page "/Actividades"

@using Investigacion.WEB.Shared
@using System.Collections.Generic
@using Microsoft.AspNetCore.Components
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@using Investigacion.Shared.Entities
@using Investigacion.WEB.Repositories

<GenericList MyList="Actividades">

    <NoRecords>
        <span>
            <i class="bi bi-journal-text" /> Actividades
            <a class="btn btn-primary btn-sm float-end" href="/actividades/create"><i class="bi bi-plus-circle" />Nueva Actividad</a>
        </span>

        <p>No hay registros para mostrar...</p>

    </NoRecords>

    <Body>
        <div class="card">
            <div class="card-header">
                <span>
                    <i class="bi bi-journal-text" /> Actividades
                    <a class="btn btn-primary btn-sm float-end" href="/actividades/create"><i class="bi bi-plus-circle" />Nueva Actividad</a>
                </span>
            </div>

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha_Inicio</th>
                            <th>Fecha_Fin_Estimada</th>
                            <th>ID_Proyecto</th>
                            <!-- Agrega más columnas según sea necesario -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var actividad in Actividades!)
                        {
                            <tr>
                                <td>@actividad.Nombre</td>
                                <td>@actividad.Descripcion</td>
                                <td>@actividad.Fecha_Inicio</td>
                                <td>@actividad.Fecha_Fin_Estimada</td>
                                <td>@actividad.ID_Proyecto</td>
                                <!-- Agrega más columnas según sea necesario -->
                                <td>
                                    <a href="/actividades/edit/@actividad.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(actividad)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
     </Body>

</GenericList>





@code {
    public List<ActividadInvestigacion> Actividades { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<ActividadInvestigacion>>("api/Actividades");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Actividades = responseHttp.Response;
    }

    private async Task DeleteAsycn(ActividadInvestigacion actividad)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estás seguro de querer borrar la actividad: {actividad.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<ActividadInvestigacion>($"api/Actividades/{actividad.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Actividades");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
